.check-button {
    height: 50px;
    width: 100px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.save-button {
    background-color: darkolivegreen !important;
    margin-bottom: 14px;
    width: 40%;
}